USE [master]
GO
/****** Object:  Database [Criptomonedas]    Script Date: 15/09/2023 21:53:01 ******/
CREATE DATABASE [Criptomonedas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Criptomonedas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Criptomonedas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Criptomonedas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Criptomonedas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Criptomonedas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Criptomonedas]
GO
/****** Object:  Table [dbo].[Criptomoneda]    Script Date: 15/09/2023 21:53:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criptomoneda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[siglas] [varchar](max) NOT NULL,
	[descripcion] [varchar](max) NOT NULL,
	[precio] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Criptomoneda] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Criptomoneda] ON 

INSERT [dbo].[Criptomoneda] ([id], [siglas], [descripcion], [precio]) VALUES (3, N'BIT', N'Bitcoin', CAST(500 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Criptomoneda] OFF
GO
USE [master]
GO
